.menu-container {
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .row {
    display: flex;
    gap: 15px;
  }
}

.menu-item {
  border: 1px solid var(--lightGrey);
  border-radius: 6px;
}

.menu-item-top-container {
  position: relative;

  .heart-icon {
    position: absolute;
  }

  .heart-empty {
    top: 5px;
    right: 5px;
  }

  .heart-full {
    top: 8px;
    right: 8px;
  }

  .menu-item-food-img {
    width: 100%;
  }
}

.menu-item-bottom-container {
  padding-inline: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .text {
    min-height: 34px;
    max-width: 80%;
  }

  .price {
    font-weight: 500;
  }

  .add-btn {
    justify-self: end;
    padding: 5px;
    font-family: inherit;
    font-size: 12px;
    background-color: var(--white);
    color: var(--paleRed);
    border: 1px solid var(--paleRed);
    border-radius: 5px;
  }

  .add-btn:hover {
    background-color: var(--paleRed);
    color: var(--white);
  }

  .added-div {
    justify-self: end;
    height: 28px;
    display: flex;
    background-color: var(--paleRed);
    color: var(--whiteT);
    border-radius: 5px;
    overflow: hidden;
  }

  .added-div p {
    flex: 2;
    text-align: center;
    align-self: center;
  }

  .added-div button {
    flex: 0.5;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .added-div button:active {
    background-color: var(--blackT);
  }

  .minus-btn {
    border: none;
    border-right: 1px solid var(--whiteT);
  }

  .plus-btn {
    border: none;
    border-left: 1px solid var(--whiteT);
  }

  .minus-btn img,
  .plus-btn img {
    width: 8px;
  }
}

.row:nth-child(1) .menu-item:nth-child(1) .text {
  max-width: 60%;
}
