.promotions-container {
  display: flex;
  flex-direction: column;
}

.promotions-container div {
  flex: 1;
}

.promotions--bottom-div {
  display: flex;
}

.promotions--top-div img,
.promotions--bottom-div img {
  width: 100%;
}
