:root {
  font-family: "DM Sans", sans-serif;
  --white: #ffffff;
  --whiteT: rgba(255, 255, 255, 0.8);
  --black: #010101;
  --blackT: rgba(31, 39, 45, 0.6);
  --red: #ef2206;
  --redT: #ef210612;
  --paleRed: #e90c31;
  --paleRedT: #e90c3123;
  --grey: #6b6b6b;
  --lightGrey: #f6f6f6;
}
